{% extends 'accounts/_base.html' %}
{% load humanize %}
{% load order_tags %}

{% block title_content %}
    تایید خرید
{% endblock %}

{% block content %}
    <form class="loginfrm">
        <h1 class="details__title" dir="auto">
            <b>
            پلن {{ plan }}
            </b>
        </h1>
    </form>
    <br>
    <form class="loginfrm" method="post" action="">
        {% csrf_token %}
        <h4 class="details__title">((پرداخت با زرین‌پال))</h4>
        <span class="details__cart-title">قیمت</span>
        <div class="details__price">
            <span>{{ plan.price | intcomma }} تومن</span>
            <s>{{ plan.price | intcomma }}</s><b>0% تخفیف</b>
        </div>
        <input class="sign__btn" type="submit" value="رفتن به درگاه پرداخت" disabled>
    </form>
    <br>
    <form class="loginfrm">
        <h4 class="details__title">((پرداخت با کارت به کارت))</h4>
        <h5 class="details__cart-title" dir="auto">telegram-id: @yasin_dev81</h5>
        <span class="details__cart-title">قیمت</span>
        <div class="details__price">
            <span>{{ plan.price | discount_kart | intcomma }} تومن</span>
            <s>{{ plan.price | intcomma }}</s><b>25% تخفیف</b>
        </div>
        <a class="sign__btn footer__link" type="submit" href="tel:@yasin_dev81"> رفتن به تلگرام </a>
        <div class="row justify-content-center text-center">
            <a href="{% url 'order:premium_plans' %}" class="btn btn-outline-danger"> بازگشت </a>
        </div>
    </form>
{% endblock %}