DJANGO_SECRET_KEY=django-insecure-3h-p1f0g&==xfd)k&h)mhe+m_n7&klhg6pmas&j@mt^^l!&kxs
DJANGO_DEBUG=true
DJANGO_HOST=*

# zrinpal
ZP_MERCHANT=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
ZP_Description=توضیحات مربوط به تراکنش را در این قسمت وارد کنید
ZP_CallbackURL=http://127.0.0.1:8000/orders/verify/

# kaveh negar
KN_API=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# arvan cloud
AC_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AC_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AC_S3_ENDPOINT_URL=s3.ir-thr-at1.arvanstorage.ir
AC_STORAGE_BUCKET_NAME=beytoote
