{% extends '_base.html' %}
{% load static %}

{% block title_content %}
    مرکز راهنما
{% endblock %}

{% block content %}
    <!-- page title -->
    <section class="section section--first section--last section--head" data-bg="{% static 'img/bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__wrap">
                        <!-- section title -->
                        <h2 class="section__title">مرکز راهنما</h2>
                        <!-- end section title -->

                        <!-- breadcrumb -->
                        <ul class="breadcrumb">
                            <li class="breadcrumb__item"><a href="{% url 'home:home' %}">خانه</a></li>
                            <li class="breadcrumb__item breadcrumb__item--active">مرکز راهنما</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->

    <!-- section -->
    <section class="section section--last section--catalog">
        <div class="container">

            <!-- content wrap -->
            <div class="col-12 col-lg-80">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="faq">
                            <h3 class="faq__title">خانه</h3>
                            <ul class="faq__list">
                                <li><a href="{% url 'home:home' %}">صفحه‌ی اصلی (خانه)</a></li>
                                <li><a href="{% url 'home:faq' %}">مرکز راهنما</a></li>
                                <li><a href="{% url 'home:privacy' %}">حریم خصوصی</a></li>
                                <li><a href="{% url 'home:contact' %}">ارتباط با ما</a></li>
                                <li><a href="{% url 'home:about' %}">درباره‌ی ما</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="faq">
                            <h3 class="faq__title">پروفایل</h3>
                            <ul class="faq__list">
                                <li><a href="{% url 'accounts:user_register' %}">ساخت اکانت</a></li>
                                <li><a href="{% url 'order:premium_plans' %}">دریافت اشتراک پریمیوم</a></li>
                                <li><a href="{% url 'accounts:user_login' %}">لاگین</a></li>
                                <li><a href="{% url 'order:user_profile' %}">نمای پروفایل</a></li>
                                <li><a href="{% url 'accounts:user_info_edit' %}?next={{ request.path }}">تغییر اطلاعات</a></li>
                                <li><a href="{% url 'accounts:user_password_edit' %}?next={{ request.path }}">تغییر رمز عبور</a></li>
                                <li><a href="{% url 'accounts:user_logout' %}">خروج (logout)</a></li>
                                <li><a href="{% url 'accounts:forgot_password' %}">فراموشی رمز عبور</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="faq">
                            <h3 class="faq__title">کتاب</h3>
                            <ul class="faq__list">
                                <li><a href="{% url 'book:book_list' %}">لیست کتاب‌ها</a></li>
                                <li><a href="{% url 'accounts:user_favorites' %}">کتاب‌های موردعلاقه (نشان شده)</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="faq">
                            <h3 class="faq__title">وبلاگ</h3>
                            <ul class="faq__list">
                                <li><a href="{% url 'blog:blog_list' %}">لیست بلاگ‌ها</a></li>
                            </ul>
                        </div>
                    </div>

            <!-- end content wrap -->
        </div>
        <!-- end catalog -->
        </div>
    </section>
    <!-- end section -->

    <!-- section -->
    <div class="section section--last">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="partners owl-carousel">
                        {% for book in last_book %}
                            <a href="{{ book.get_absolute_url }}" class="partners__img">
                                <img src="{{ book.image.url }}" alt="" height="200">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->

{% endblock %}