{% extends 'accounts/_base.html'%}

{% block title_content %}
    تغییر اظلاعات
{% endblock %}

{% block content %}

<form action="" method="post" class="loginfrm">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}

            {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input class="sign__btn" type="submit" value="ثبت تغییر">
</form>
<span class="sign__text">منصرف شدید ؟ <a href="{% url 'book:home' %}">بازگشت!</a>
</span>

{% endblock %}