{% extends 'accounts/_base.html'%}

{% block title_content %}
    لاگین
{% endblock %}

{% block content %}
<form action="" method="post" class="loginfrm">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}

            {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input class="sign__btn" type="submit" value="ورود">
</form>

<span class="sign__text">حساب کاربری ندارید ؟ <a href="{% url 'accounts:user_register' %}">ثبت نام</a></span>

<span class="sign__text"><a href="{% url 'accounts:forgot_password' %}">رمز عبور خود را فراموش کردید ؟</a></span>
{% endblock %}