{% extends 'accounts/_base.html'%}

{% block content %}

<span class="text-info">
    کد به
    {{ phone_number }}
    ارسال شد:
    <a href="{% url 'accounts:forgot_password' %}">تصحیح شماره</a>
</span>

<form action="" method="post" class="loginfrm">
    {% csrf_token %}
{#                        {{ form }}#}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}

            {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input class="sign__btn" type="submit" value="تایید">
</form>

{% endblock %}