{% extends '_base.html' %}
{% load static %}

{% block title_content %}
    کتاب‌ها
{% endblock %}

{% block content %}

    <!-- page title -->
    <section class="section section--first section--last section--head" data-bg="{% static 'img/bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section__wrap">
                        <!-- section title -->
                        <h2 class="section__title">کتاب ها <span>({{ object_list.count }} محصول)</span></h2>
                        <!-- end section title -->

                        <!-- breadcrumb -->
                        <ul class="breadcrumb">
                            <li class="breadcrumb__item"><a href="{% url 'home:home' %}">خانه</a></li>
                            <li class="breadcrumb__item breadcrumb__item--active">کتاب ها</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->

    <!-- section -->
    <section class="section section--last section--catalog">
        <div class="container">
            <!-- catalog -->
            <div class="row catalog">
                <!-- filter wrap -->
                <div class="col-12 col-lg-20">
                    <div class="row">
                        <div class="col-12">
                            <!-- filter -->
                            <form class="filter" method="get">
                                <h4 class="filter__title">فیلتر ها
                                    <a type="button" href="{% url 'book:book_list' %}">حذف</a>
                                </h4>

                                <!-- Add a hidden input for book_name -->
                                <input type="hidden" name="book_name"
                                       value="{% if request.GET.book_name %}{{ request.GET.book_name }}{% endif %}">

                                <div class="filter__group">
                                    <label for="sort" class="filter__label">مرتب سازی :</label>
                                    <div class="filter__select-wrap">
                                        <select name="sort" id="sort" class="filter__select">
                                            <option value="-datetime_created"
                                                    {% if request.GET.sort == '-datetime_created' %}
                                                    selected {% endif %}>جدیدترین
                                            </option>
                                            <option value="datetime_created"
                                                    {% if request.GET.sort == 'datetime_created' %}
                                                    selected {% endif %}>قدیمی ترین
                                            </option>
                                            <option value="-like_count" {% if request.GET.sort == '-like_count' %}
                                                    selected {% endif %}>محبوب‌ترین
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="filter__group">
                                    <label class="filter__label">ژانر ها :</label>
                                    <ul class="filter__checkboxes">
                                        {% if selected_genres %}
                                            {% for obj in category_list %}
                                                <li>
                                                    {% if obj in selected_genres %}
                                                        <input id="{{ obj.slug }}" type="checkbox" name="{{ obj.slug }}"
                                                               checked="checked">
                                                    {% else %}
                                                        <input id="{{ obj.slug }}" type="checkbox"
                                                               name="{{ obj.slug }}">
                                                    {% endif %}
                                                    <label for="{{ obj.slug }}">{{ obj.name }}</label>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            {% for obj in category_list %}
                                                <li>
                                                    <input id="{{ obj.slug }}" type="checkbox" name="{{ obj.slug }}"
                                                           checked="checked">
                                                    <label for="{{ obj.slug }}">{{ obj.name }}</label>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="filter__group">
                                    <input class="filter__btn" type="submit" value="اعمال فیلتر">
                                </div>
                            </form>
                            <!-- end filter -->
                        </div>
                    </div>
                </div>
                <!-- end filter wrap -->


                <!-- content wrap -->
                <div class="col-12 col-lg-80">
                    <div class="row">
                        <!-- card -->
                        {% for obj in object_list %}
                            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                                <div class="card">
                                    <a href="{{ obj.get_absolute_url }}" class="card__cover">
                                        <img src="{{ obj.image.url }}" alt="" height="300">
                                    </a>

                                    <div class="card__title">
                                        <h3 dir="auto"><a
                                                href="{{ obj.get_absolute_url }}">{{ obj.title | capfirst }}</a></h3>


                                        <ul class="details__list">
                                            <li>
                                                <span class="h5">نشان شده :
                                                    <span></span>
                                                    <span class="badge badge-warning text-dark">{{ obj.like_count }}</span>
                                                </span>
                                            </li>
                                            <li>
                                                <span>ژانر : {{ obj.category.name }} </span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="card__actions">
                                        <a class="card__buy" type="button" href="{{ obj.get_absolute_url }}">مشاهده</a>

                                        <a class="card__favorite" type="button"
                                           href="{% url 'accounts:add_favorites' obj.pk %}?next={{ request.path }}">
                                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512'
                                                 viewBox='0 0 512 512'>
                                                <path d='M352.92,80C288,80,256,144,256,144s-32-64-96.92-64C106.32,80,64.54,124.14,64,176.81c-1.1,109.33,86.73,187.08,183,252.42a16,16,0,0,0,18,0c96.26-65.34,184.09-143.09,183-252.42C447.46,124.14,405.68,80,352.92,80Z'
                                                      style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- end card -->

                        <!-- paginator -->
                        <div class="col-12">
                            <div class="paginator">
                                <div class="paginator__counter">
                                    صفحه
                                    {{ page_obj.number }}
                                    از
                                    {{ paginator.num_pages }}
                                </div>

                                <ul class="paginator__wrap">
                                    {% if page_obj.has_previous %}
                                        <li class="paginator__item paginator__item--prev">
                                            <a href="?page={{ page_obj.previous_page_number }}">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512'
                                                     viewBox='0 0 512 512'>
                                                    <polyline points='268 112 412 256 268 400'
                                                              style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/>
                                                    <line x1='392' y1='256' x2='100' y2='256'
                                                          style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="paginator__item"><a
                                                href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                        </li>
                                    {% endif %}

                                    <li class="paginator__item paginator__item--active"><a
                                            href="#">{{ page_obj.number }}</a></li>
                                    {% if page_obj.has_next %}
                                        <li class="paginator__item"><a
                                                href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                        </li>
                                        <li class="paginator__item paginator__item--next">
                                            <a href="?page={{ page_obj.next_page_number }}">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512'
                                                     viewBox='0 0 512 512'>
                                                    <polyline points='244 400 100 256 244 112'
                                                              style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/>
                                                    <line x1='120' y1='256' x2='412' y2='256'
                                                          style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/>
                                                </svg>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <!-- end paginator -->
                    </div>
                </div>
                <!-- end content wrap -->
            </div>
            <!-- end catalog -->
        </div>
    </section>
    <!-- end section -->

{% endblock %}